:root {
  --main-color: #ff702a;
  --text-color: #fff;
  --bg-color: #1e1c2a;
  --accent-color: #2b1f3d;
  --white-accent: #feeee7;
  --main-color2: #E3E6F3;
  --main-orange: hsl(29, 100%, 59%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  color: var(--white-accent);
  padding-top: 100px;
}

.wrapper{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "payment-container items-container" 
  "payment-container items-container" 
  "payment-container discount-container";
  height: 70vh;
}

.payment-container, .discount-container {
  background-color: var(--accent-color);
  border: 1px var(--white-accent) solid;
  grid-area: payment-container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-container div {
  width: 80%;
  margin: 1.5vh 0px;
}

.items-container {
  grid-area: items-container;
  background-color: var(--accent-color);
  border: 1px var(--white-accent) solid;
  border-left: 0;
  overflow-y: scroll;
}


.item {
  display: flex;
  flex-direction: row;
  margin: 15px;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  gap: 1%;
  border: solid 2px rgba(255, 255, 255, 0.308);
  border-radius: 10px;
  text-align: center;
}

.item div, .item form{
  margin-left: 3%;
}

.item form button {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 13px;
  display: inline-block;
  margin-top: 5px;
  display: block;
}

.item form button svg {
  margin-left: 5px;
}

.item form button:hover {
  cursor: pointer;
}

.item-price {
  color: var(--main-color);
}

.items-container input[type="number"] {
  width: 35px;
  height: 25px;
  text-align: center;
}

.items-container img {
  max-width: 80px;
  border-radius: 4px;
}

.discount-container {
  grid-area: discount-container;
  background-color: var(--accent-color);
  border: 1px var(--white-accent) solid;
  border-left: 0;
  border-top: 0;
  text-align: center;
}

.discount-container input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: 0px;
  outline: none;
  padding-left: 20px;
}

.discount-container input[type="text"] {
  margin: 5% 0px;
  width: 60%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  translate: 4px 0px;
}

.discount-container button {
  width: 30%;
  height: 35px;
  padding: 8px 7px;
  background-color: var(--main-color);
  color: var(--white-accent);
  border: 0;
  border-radius: 0px 5px 5px 0px;
  transition: all .2s ease-out;
}

.discount-container button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px var(--main-color);
}

main {
  margin: 0px 5%;
}

.empty-basket {
  margin-top: 5%;
  text-align: center;
}

button span {
  display: block;
  text-align: center;
}

.payment-container input{
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: 0px;
  outline: none;
  padding-left: 20px;
}
.expdate {
  display: grid;
  grid-template-columns: 1fr 15px 1fr;
  padding: 0px 20%;
}

.expdate input , .cvv input {
  display: inline-block;
  text-align: center;
  padding: 0;
}

.inline {
  display: inline-block;
  text-align: center;
}

.cvv {
  max-width: 100px;
}

.pay {
  padding: 20px 10px;
  margin: 15px 0px 0px 0px;
  width: 150px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white-accent);
  border-radius: 5px;
  background-color: var(--main-color);
  border: 0;
  transition: all .2s ease-out;
}
.pay:hover {
  cursor: pointer;
  translate: 0px -2px;
  box-shadow: 0px 0px 10px 1px var(--main-color);
}

.item-qtty {
  outline: none;
}

.errormessage {
  text-align: center;
  color: white;
  background-color: #ff8989;
  border: 1.5px solid #fd3f6b;
  color: #cc0033;
  font-weight: 500;
  padding: 15px 10px;
  width: 60%;
  margin: auto;
  margin-bottom: 1%;
}

.successmessage {
  text-align: center;
  color: white;
  background-color: #98ffa6;
  border: 1.5px solid #108b00;
  color: #108b00;
  font-weight: 500;
  padding: 15px 10px;
  width: 60%;
  margin: auto;
  margin-bottom: 1%;
}

.successmessage a {
  display: block;
  color: #0b5701;
  text-decoration: underline;
}


@media(max-width: 970px) {
  .wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas: 
    "payment-container" 
    "items-container" 
    "discount-container";
    height: auto;
  }

  .payment-container {
    padding: 50px 0px;
  }

  .discount-container{
    border: 1px solid var(--white-accent);
    translate: 0px -2px;
  }
  .items-container {
    border: 1px solid var(--white-accent);
    translate: 0px -1px;
  }
}