body {
    background-image: url(../img/wallpaper.jpg);
    background-repeat: repeat;
    background-size: cover;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 0px;
}

form {
    background-color: rgba(180, 94, 13, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    margin:auto;
    width: 700px;
}

.ikon {
    display: flex;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 0px 15px rgb(146, 112, 48);
    display: block;
    align-items: right;
}


#cim {
    display: flex;
    padding: 5px 270px 15px 30px;
    margin: 0px 0px 0px 0px;
    border-radius: 80px;
    color: rgb(245, 188, 81);
    font-size: 60px;
    background-color: white;
    display: inline-block;
    box-shadow: 1px 1px 2px rgb(146, 112, 48);
}

#head {
    padding: 20px 50px 20px 60px;
}

#login {
    background-color: white;
    color: rgb(245, 188, 81);
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 15px rgb(146, 112, 48);
    transition: 0.2s;
    cursor: pointer;
    vertical-align: bottom;
    padding: 20px 40px 20px 40px;
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    margin-top: 30px;
}

#logplace {
    display: flex;
}

#login:hover {
    background-color: antiquewhite;
    color: rgb(167, 129, 59);
}

#login:active {
    background-color: rgb(245, 188, 81);
    color: white;
}

#mid-section {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 90px;
}

.brackets {
    display: flex;
    border-radius: 12px;
    height: 40px;
    width: 500px;
    font-size: 20px;
    outline: none;
    padding-left: 10px;
}

label {
    display: flex;
    display: block;
    color: white;
    font-size: 20px;
}

.name-pword {
    margin: 25px 0px 5px 0px;
}

#log {
    display: flex;
    padding: 5px 10px 10px 35px;
}

#log-style {
    font-size: 25;
    color: white;
    margin: 0px 0px 0px 0px;
    transition: 0.2;
    text-decoration: underline;
}

#log-style:hover {
    color: rgb(206, 206, 206);
}

#log-style:active {
    color: rgb(250, 250, 250);
}

.errormessage {
    text-align: center;
    color: white;
    background-color: #ff8989;
    border: 1.5px solid #fd3f6b;
    color: #cc0033;
    font-weight: 500;
    padding: 15px 10px;
    width: 60%;
    margin: auto;
    margin-top: 3%;
}

@media(max-width:700px) {

    form {
        max-width: 450px;
    }

    .brackets {
        width: 300px;
    }

    #head {
        display: flex;
        justify-content: center;
        padding: 20px 60px 20px 60px;
    }

    #head img {
        display: none;
    }

    #cim {
        padding: 10px 40px 10px 40px;
    }

    #login {
        padding: 10px 20px 10px 20px;
        font-size: 30px;
    }

    #mid-section {
        display: flex;
        padding: 0px;
        align-items: center;
    }

    .name-pword {
        margin: 15px 0px 5px 0px;
    }

}

@media(max-width:450px) {

    form {
        position: absolute;
        max-width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .brackets,
    #last-bracket {
        width: 250px;
    }

}