:root {
  --main-color: #ff702a;
  --text-color: #fff;
  --bg-color: #1e1c2a;
  --accent-color: #2b1f3d;
  --white-accent: #feeee7;
  --main-color2: #E3E6F3;
  --main-orange: hsl(29, 100%, 59%);
}

footer {
    background-color: var(--accent-color);
    color: var(--white-accent);
    padding: 20px 0;
    margin-top: 15vh;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0 15px;
  }
  
  .footer-section {
    flex: 30%;
    margin-bottom: 20px;
  
  }
  
  .footer-section h3 {
    margin-bottom: 15px;
    position: relative;
    color: var(--main-color);
  }
  
  .footer-section:first-of-type h3::after {
    width: 0px;
  }
  
  .footer-section h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 20px;
    background-color: var(--main-color);
  }
  
  .footer-section p {
    margin: 0;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: var(--white-accent);
    text-decoration: none;
  }