body {
  padding-top: 10%;
  background-image: url(../img/background-texture-carrots-vegetables-wallpaper-0a0eb9f237cb96e8cd7ad76a8644bc9e.jpg);
  justify-content: center;
  align-content: center;
}

:root {
  --main-color: #ff702a;
  --text-color: #fff;
  --bg-color: #1e1c2a;
  --accent-color: #2b1f3d;
  --white-accent: #feeee7;
  --main-color2: #E3E6F3;
  --main-orange: hsl(29, 100%, 59%);
}

footer {
  background-color: var(--bg-color);
}

#border {
  display: flex;
  justify-content: center;
  align-content: center;
  border: none;
  flex-direction: row;
}

#picture-side,
#info-side {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgb(109, 109, 109);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

#picture-side {
  background-color: rgba(34, 13, 65, 0.4);
  border-radius: 20px 0px 0px 20px;
  padding: 30px 50px 30px 50px;
  justify-content: center;
}

#info-side {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0px 20px 20px 0px;
}

#picture {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 200px;
  height: 200px;
  margin: 0px auto;
}

#picture img {
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
}

input[type="file"] {
  display: none;
}

#upload {
  display: inline-block;
  margin-bottom: 0px;
  padding: 10px 20px 10px 20px;
  background-color: white;
  border-radius: 10px;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  font-size: 15px;
  color: var(--accent-color);
}

#upload:hover {
  background-color: rgb(172, 172, 172);
}

#upload:active {
  background-color: rgb(83, 83, 83);
  color: var(--text-color);
}

#admin {
  padding: 20px 20px 0px 20px;
  display: flex;
  font-size: 20px;
  color: var(--text-color);
  text-decoration: underline;
  justify-content: center;
  align-content: center;
}

#name {
  padding: 20px 20px 30px 20px;
  display: flex;
  font-size: 25px;
  color: var(--text-color);
  justify-content: center;
  align-content: center;
}

.info {
  padding: 60px 40px 60px 30px;
  min-width: 600px;
  display: flex;
  font-size: 30px;
  color: var(--bg-color);
  justify-items: center;
  align-items: flex-start;
  flex-direction: column;
}

h5 {
  margin-bottom: 5px;
}

input[type="text"] {
  display: none;
}

#avatar {
  display: flex;
}

#change, #changeTelBtn {
  display: inline-block;
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: var(--bg-color);
}

#edit, #editTel {
  display: flex;
  flex-direction: row;
}

#edit-button, #edit-button-tel {
  fill: black;
}

#submit, #submitTel {
  display: flex;
  flex-direction: row;
}

#changeName, #changeTel {
  margin-bottom: 5px;
  padding: 10px 20px 10px 20px;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  border: none;
  transition: 0.2s;
  font-size: 15px;
  color: var(--accent-color);
}

#saveName, #saveTel {
  display: none;
  margin-bottom: 5px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  background-color: rgb(228, 228, 228);
  border-radius: 0px 10px 10px 0px;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  font-size: 15px;
  color: var(--accent-color);
}

#saveName:hover, #saveTel:hover {
  background-color: rgb(201, 201, 201);
}

#saveName:active, #saveTel:active {
  background-color: rgb(146, 146, 146);
}

.logoutButton {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #1e1c2a;
  font-size: 1.5rem;
  text-align: center;
}

.logoutSvg {
  display: inline-block;
  position: relative;
  fill: #1e1c2a;
  width: 38px;
  height: 38px;
}

.picupload-form {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  margin-top: 15px;
}

.picupload-submit {
  background-color: transparent;
  border: none;
  display: inline-block;
}

.picupload-submit:hover {
  cursor: pointer;
}

.picupload-submit svg {
  fill: var(--bg-color);
  background-color: white;
  border-radius: 20px;
  padding: 3px;
  width: 28px;
  height: 28px;
  transition: all .4s ease-in-out;
}

.picupload-submit:hover svg {
  border-radius: 10px;
}

@media(max-width:900px) {

  body {
    padding-top: 100px;
  }

  #border {
    flex-direction: column;
  }

  #picture-side {
    border-radius: 20px 20px 0px 0px;
    
  }
  
  #info-side {
    border-radius: 0px 0px 20px 20px;
  }
}

@media(max-width: 600px) {

  body {
    padding-top: 70px;
  }

  #border {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
  }

  #picture-side {
    border-radius: 0px;
  }

  #info-side {
    border-radius: 0px;
  }

  .info {
    min-width: 0px;
    font-size: 20px;
  }

  footer {
    margin: 0;
  }
}